<md-content layout-padding >

    <div layout-gt-sm="row" layout-align="center" >
        <div class="column">
            <md-icon style="width: 195px; height: 195px; font-size: 195px">account_circle</md-icon>
        </div>
            <div class="layout-column"layout-align="center">

                 <div flex="15">Nome: {{editUsers.Nome}}</div>
                 <div flex="15"> Cognome: {{editUsers.Cognome}}</div>
                 <div flex="15"> Indirizzo email: {{editUsers.email}}</div>
                 <div flex="15">Password: {{editUsers.Password}}</div>
            </div>
    </div>

    <md-divider ></md-divider>

    <form ng-submit="submit()" layout-align="center" layout="column" >


        <div layout-gt-sm="row" layout-align="center" >
            <md-input-container class="md-block" >
                <label>Nome</label>
                <input type="text" ng-model="editUsers.Nome">
            </md-input-container >
            <md-input-container class="md-block">
                <label>Cognome</label>
                <input type="text" ng-model="editUsers.Cognome" flex-offset="5">
            </md-input-container>
        </div>
        <div layout-gt-sm="row" layout-align="center">
            <md-input-container class="md-block">
                <label>Email</label>
                <input type="text" ng-model="editUsers.email">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input type="text" ng-model="editUsers.Password" flex-offset="5">
            </md-input-container>
        </div>
        <div layout-gt-sm="row" layout-align="center">
            <md-button class="md-raised" type="submit"> Submit</md-button>
        </div>

    </form >

<!-- inserimento dell'immagine profilo al centro in basso con le info a lato . -->



</md-content>