<div>
    <app-loading ng-if="loading"></app-loading>

    <div ng-if="!loading">
            <md-content class="md-padding">
               <div layout="row" layout-wrap layout-align="center">
                    <!-- <md-card md-theme-watch flex="40" ng-repeat="utente in nomeUtenti">
                        <md-card-title>
                            <md-card-title-text layout-align="center ">
                                <span class="md-headline">{{utente.NomeUtente}}</span>
                                 <a class="md-subhead button my-link" ng-href="#/detail/{{utente.id}}" >Info</a>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div>
                                     <md-icon md-font-set="material-icons " style="width: 110px; height: 110px; font-size:110px">account_circle</md-icon>
                                 </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center" class="my-transbox-text">
                            <md-button class="md-raised" ng-click="delete(utente.id,$index)">delete</md-button>
                            <md-button class="md-raised" ng-href="#/edit/{{utente.id}} "> Edit User</md-button>
                        </md-card-actions>
                     </md-card>
                </div>
                     <div layout="row" layout-align="center">
                        <md-button class="md-raised" ng-href="#/insert"> Inserisci nuovo Utente</md-button>
                     </div>-->


                </div>


            </md-content>
    </div>
</div>
