
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" layout="column" class="md-sidenav-left ">
        <md-content>
            <md-list layout="column">
                <md-list-item ng-repeat="utente in nomeUtenti track by $index"  class="md-2-line my-font" ng-click="pass($index,utente.id)" >
                        <div>
                        <md-icon md-font-set="material-icons " style="width: 60px; height: 60px; font-size:60px"  >account_circle</md-icon>
                    </div>
                    <div layout="column">
                        <span class="md-headline">{{utente.NomeUtente}}</span>
                      <!--  <a class="md-subhead button my-link" ng-href="#/detail/{{utente.id}}" >Info</a>-->
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-button class="md-fab md-fab-bottom-right md-fab-bottom-fixed" ng-href="#/insert">
                    <md-icon>add</md-icon>
                </md-button>
            </md-list>
        </md-content>
    </md-sidenav>

