<md-toolbar class="md-hue-1 my-toolbar-right">
    <div class="md-toolbar-tools">
        <h2 flex md-truncate class="my-font">Manage Users</h2>
           <!-- <md-divider class="my-vertical-divider"></md-divider>-->
                <div>
                    <md-button class="md-icon-button" ng-href="#/detail/{{}}">
                        <md-icon>info_outline</md-icon>
                    </md-button>
                    <md-menu md-position-mode="target-right target" ng-cloak>
                        <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                            <md-icon>more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="delete()">
                                    <md-icon>delete</md-icon>
                                    Delete User
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button  ng-href="#/edit/{{}}">
                                    <md-icon>edit</md-icon>
                                    Edit User
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
    </div>
</md-toolbar>
